*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
:root{
    --bgcolor:gray;
    --red:Orange;
    --white:white;
    --green:green;
    --height:200px;
}
body{
    background-color:var(--bgcolor);
}
.outer{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag{
    height:var(--height);
    width:calc(var(--height) *7/6);
    margin:2em auto;
    display: grid;
}
.red{
    background-color: var(--red);
}
.white{
    background-color:var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
    background-color: var(--red);
    height: calc(var(--height)/3*.85);;
    width:calc(var(--height)/3*.85);;
    position:absolute;
}
.green{
    background-color: green;
}